@import 'tailwindcss';

@theme {
  /* ---------- Primitive ---------- */
  /* Primary Colors */
  --color-primary-default: #6201e0;
  --color-primary-hover: #4e01b3;
  --color-primary-active: #3b0186;
  --color-primary-400: #7c35d9;
  --color-primary-200: #d0b3f6;
  --color-primary-100: #efe6fc;

  /* Gray Colors */
  --color-gray-primary: #121212;
  --color-gray-disabled: #bdbdbd;
  --color-gray-800: #222222;
  --color-gray-700: #303030;
  --color-gray-600: #4d4d4d;
  --color-gray-500: #707070;
  --color-gray-400: #9d9d9d;
  --color-gray-250: #cecece;
  --color-gray-100: #fafafa;

  /* Other Colors */
  --color-answer-active: #04c73d;
  --color-error: #ec0037;

  /* ---------- Semantic ---------- */
  /* Text Colors */
  --color-text-main: #121212;
  --color-text-sub: #4d4d4d;
  --color-text-chatbot: #707070;
  --color-text-light: #9d9d9d;
  --color-text-disabled: #bdbdbd;

  /* Surface Colors */
  --color-surface-default: #ffffff;
  --color-surface-sub: #fafafa;
  --color-surface-disabled: #bdbdbd;

  /* Custom Box Shadow */
  --shadow-box: 0 4px 4px #00000025;
  --shadow-modal: 0 0 16px #a0a0a025;
  --shadow-toast: 4px 4px 4px #83838325;

  /* ---------- Custom Sizes ---------- */

  /* Scrollbar Settings */
  --spacing-scroll-w: 2px;
}
@utility scrollbar-w-2 {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 2px;
  }
}
