@import 'tailwindcss';

@theme {
  /* Primary Colors */
  --color-primary: #6201e0;
  --color-primary-hover: #4e01b3;
  --color-primary-active: #3b0186;
  --color-primary-light: #efe6fc;

  /* Grey Scale */
  --color-grey-1: #ffffff;
  --color-grey-2: #f5f5f5;
  --color-grey-3: #dddddd;
  --color-grey-4: #a6a6a6;
  --color-grey-5: #666666;
  --color-grey-6: #222222;

  /* Main Colors */
  --color-main-1: #f2effd;
  --color-main-2: #ede6ff;
  --color-main-3: #d7cbf7;
  --color-main-4: #b69cf1;
  --color-main-5: #986be9;
  --color-main-6: #7c35d9;
  --color-main-7: #522193;

  /* Other Colors */
  --color-other-green: #5eb669;
  --color-other-light-green: #e7f429;
  --color-other-red: #cc0a0a;
  --color-other-pale-pink: #f9e2e2;
  --color-other-yellow: #f6a818;
  --color-other-pale-yellow: #fdeece;
}
